<script id="publisher_tool_search_keyword" type="text/x-handlebars-template">
    <li>
        <input type="text" name="keyword[]"/>
        <span><a href="" class="remove_keyword">Remove</a></span>
    </li>
</script>