<script id="publisher_tool_questionaire_question_answer_option" type="text/x-handlebars-template">
    <tr>
        <td data-fooltip="Answer group option."
            data-align="right">
            <input type="text"
                   name="ANSWER-OPTION[]"
                   placeholder="Answer"
                   data-id="{{ANSWER_OPTION_ID}}"
                   value="{{ANSWER}}">
        </td>
        <td><a href="" class="remove-answer-option">Remove</a></td>
    </tr>
</script>