<script id="publisher_tool_loading" type="text/x-handlebars-template">
    <div id="header" class="display-table">
        <div class="row">
            <div class="cell ten">
                <h1 class="title">Publisher Knowledge Base</h1>
                <div class="loading">
                    <img src="_img/loading.gif" alt="" />
                </div>
            </div>
        </div>
    </div>
</script>