<script id="publisher_tool_questionaire_note_count" type="text/x-handlebars-template">
    <tr class="note_count row" data-count-id="{{QUESTION_ID}}">
    <td class="cell three border-right"></td>
    <td class="cell seven">
        <span id="show">Show  {{NOTES}} {{TYPE}}</span>
        <span id="hide" style="display: none;">Hide all</span>
        </td>
    </tr>
</script>