<script id="publisher_tool_questionaire_question_preview_spinner" type="text/x-handlebars-template">
    <div class="spinner">
        <div class="body">
            <img src="_img/loading.gif"/>
            <p>Saving changes</p>
        </div>
    </div>
</script>