<div class="table-holder">
	<table class="main">
		<thead>
			<tr><th>Generating Report</th></tr>
		</thead>
		<tbody>
			<tr>
				<td class="loading">
					<?php echo HTML::image('_img/loading.gif'); ?>
				</td>
			</tr>
		</tbody>
	</table>
	<div id="notice"></div>
</div>
